body{
    background:url("BosqueAll.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}
#menu {
    width: 1000px;
    height: 50px;
    font-size: 24px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: 0B579F;
        border-radius: 8px;
}
#menu ul {
    float: center;
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}
#menu li { 
display: inline; 
padding: 50px; 
}
#menu a {
    text-decoration: none;
    color: F2F5F8;
    padding: 8px 8px 8px 8px;
}
#menu a:hover {
    color: DA1539;
    background-color: 98BDF5;
}
#time{
display: inline; 
padding: 50px;

}
#date{
display: inline; 
padding: 50px;
}
